@model Models.PatientAppointmentStatus
@{
    ViewBag.Title = "RejectAppointment";
}

<h2>RejectAppointment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Employee</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes:
           new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Comment, new
            {
                htmlAttributes =
               new { @class = "form-control" }
            })

            @Html.ValidationMessageFor(model => model.Comment, "",
               new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.PatientAppointmentId)
    @Html.HiddenFor(model => model.Status)


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

</div>
}

