@using Models;
@{
    ViewBag.Title = "Home Page";
}
<script>

  
        var messgea = '@ViewBag.Message';
        if (messgea != '') {
            alert('@ViewBag.Message');
        }
  
</script>
<h2>Available Doctors</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Dr Name</th>
        <th>Email Id</th>
        <th>Phone No</th>
        <th>Registed On</th>
    </tr>
    @if (ViewBag.UserList != null)
    {
        foreach (User item in ViewBag.UserList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNo)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                <td>
                    @Html.ActionLink("BookAppointment", "BookAppointment", new { DoctorId = item.Id })
                </td>
            </tr>
        }
    }
</table>